# Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
# Used in conjunction with Marlin's linear advance calibration tool: 
# https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
    {% set pa = params.K|float %}
    SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro M600]
gcode:
    _beep_filament_change

    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G0 E10 F{30 * 60}                 ;extrude filament to get better blob on end
    G0 E5  F{30 * 60}                 ;retract additional filament to move out of melt zone
    G92 E0

#Use this command resume during a mid print filament swap (DONT USE OCTO/MAINSAIL/DWC RESUME)
[gcode_macro SWAP_RESUME] 
gcode:
    _beep_print_resume
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1     
    RESTORE_GCODE_STATE NAME=M600_state
    RESUME
